/* 
    font-family: 'Raleway', sans-serif; 
    font-family: 'Roboto', sans-serif;
*/

html {
    background-color: #e6e6e6;
}

body {
    background-color: #e6e6e6;
}

/* Navbar Styling */
.navbar {
	background-color: #00B1B3!important;
}

.navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-size: 5rem;
    font-weight: lighter;
    color: white!important;
}

.navbar-brand small {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    margin-left: -1rem;
}

.dropdown {
	background-color: rgba(0, 0, 0, 0)!important;
}

.show {
	width: 50rem;
}

.dropdown-menu {
	background-color: rgba(0, 0, 0, 0)!important;
}

.dropdown-item {
	background-color: rgba(0, 0, 0, 0)!important;
	color: #e6e6e6!important;
	border: .13rem solid #e6e6e6;
	border-radius: .25rem;
	margin-bottom: .25rem;
	width: 50%;
}

.dropdown-item .column {
	float: left;
}

.dropdown-item:hover {
	background-color: #e6e6e6!important;
	color: #0b1026!important;
	border: .13rem solid #e6e6e6;
	border-radius: .25rem;
	margin-bottom: .25rem;
}

.navbar-toggler {
	position: sticky;
	height: 4rem;
    width: auto;
    font-size: 3rem;
	background-color: #e6e6e6!important;
	color: #0b1026!important;
	transition: all .45s ease;
	cursor: pointer;
}

.navbar-toggler.active {
	border-radius: 50%;
	color: white!important;
	background-color: #0b1026!important;
    border: .13rem solid white;
    transform: rotateY(180deg);
}

.siteLinks {
    margin: 0 auto;
}

.siteLinks .nav-link {
    width: 30%;
    float: left;
    color: white;
}

.siteLinks .nav-link li {
    list-style-type: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    border-radius: .5rem;
}

.siteLinks .nav-link li:hover {
    background-color: rgba(0, 0, 0, .25);
    cursor: pointer;
    color: white;
    text-decoration: none;
}

/* Top Content Styling */
.topContent {
    margin-top: 10rem;
    background-color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.profilePic {
    background-image: url("../images/nick.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 2rem;
}

.profileAbout .display-2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: light;
}

/* Middle Content Styling */
.middleContent {
    margin-top: 5rem;
    border-radius: 2rem;
    background-color: #e6e6e6;
    padding: 3rem;
}

.middleContent .display-1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: lighter;
}

.middleContent .row {
    background-color: #e6e6e6;
}

.middleContent h3 {
    padding-bottom: .5rem;
    margin-top: .25rem;
}

.card {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.card-header-pills li > a {
    color: black;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

.nav-pills > li > a.active {
    background-color: #00B1B3!important;
}

.card-header {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border: none;
}

.card-body {
    background-color: white;
    border-radius: 2rem;
}

.myActive {
    background-color: #b8b8b8;
}

#featuredSelection {
    height: 700px;
    background-image: url("../images/eCommerce_1_FINAL.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
    color: white;
}

#newSelection {
    height: 700px;
    background-image: url("../images/Moore_Typeogrophy_final.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
    color: white;
}

#pickSelection {
    height: 700px;
    background-image: url("../images/Isabella_16_FINAL.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: right;
    color: white;
}

/* Web Project Gallery Styling */
.webProjectsGallery {
    margin-top: 5rem;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.webProjectsGallery .display-1 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    margin-bottom: 2rem;
    text-align: center;
}

.webProjectsGallery .subtitleDisplay, .subtitleDisplay-2 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.subtitleDisplay-2 {
    margin-top: 3rem;  
}

/* Digital Art Gallery Styling */
.digitalArtGallery {
    margin-top: 5rem;
    background-color: #e6e6e6;
    padding-top: 2rem;
}

.digitalArtGallery .display-1 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    margin-bottom: 2rem;
    text-align: center;
}

.sOriginal {
    float: left;
}
