/* font-family: 'Muli', sans-serif; */
html {
    background-image: url("../images/milkyway-1.jpg");
}

/* Navbar Styling */
.navbar-brand {
    font-family: 'Muli', sans-serif;
    font-size: 2rem;
}
