/* font-family: 'Raleway', sans-serif; */
html {
    background-color: #e6e6e6;
}

/* Navbar Styling */
.navbar {
	background-color: #00B1B3!important;
}

.navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-size: 5rem;
    font-weight: lighter;
    color: white!important;
}

.navbar-brand small {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    margin-left: -1rem;
}

.dropdown {
	background-color: rgba(0, 0, 0, 0)!important;
}

.show {
	width: 50rem;
}

.dropdown-menu {
	background-color: rgba(0, 0, 0, 0)!important;
}

.dropdown-item {
	background-color: rgba(0, 0, 0, 0)!important;
	color: #e6e6e6!important;
	border: .13rem solid #e6e6e6;
	border-radius: .25rem;
	margin-bottom: .25rem;
	width: 50%;
}

.dropdown-item .column {
	float: left;
}

.dropdown-item:hover {
	background-color: #e6e6e6!important;
	color: #0b1026!important;
	border: .13rem solid #e6e6e6;
	border-radius: .25rem;
	margin-bottom: .25rem;
}

.navbar-toggler {
	position: sticky;
	height: 4rem;
    width: auto;
    font-size: 3rem;
	background-color: #e6e6e6!important;
	color: #0b1026!important;
	transition: all .45s ease;
	cursor: pointer;
}

.navbar-toggler.active {
	border-radius: 50%;
	color: white!important;
	background-color: #0b1026!important;
    border: .13rem solid white;
    transform: rotateY(180deg);
}

.form-controls {
	margin: 0 auto;
}

.siteLinks {
    margin: 0 auto;
}

.nav-link {
    width: 30%;
    float: left;
}

.nav-link li {
    text-align: center;
    list-style-type: none;
}

